# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.m~
dynamics_gen/*
interp_sol_9.8.mat
intersting_sol.mat
jumpOptIPOPTinfo.txt

first_trajectory.mat
dummy_traj_name.mat
solution_without_path_cstraints.mat
some_traj_for_se_hwan.mat
